<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/editor/css/editormd.css"/>
    <title>Publish</title>
</head>
<body>
<span class="h3">Publish Content</span>
<span style="float: right;color: red;display: none;" id="auto-save-warn">自动保存成功！</span>

<div class="row" style="padding-top: 20px;">
    <div class="col-12">
        <form id="content-form" action="/api/article" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Title" name="title" value="" required>

            </div>
            <div class="mb-3">
                <select class="form-select form-control" aria-label="SelectChannel" id="channelId" name="channelId"
                        required>
                    <option value="">Channel</option>
                </select>
            </div>
            <div id="article-editormd">
                <textarea style="display:none;" name="content" required></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Tag标签：多个以英文逗号“,”隔开</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="tag" value="tag"
                          ></textarea>
            </div>

            <input type="hidden" name="submitType" id="content-submit-type" value="auto">
            <input type="hidden" name="id" id="content-id" value="">
            <input type="hidden" name="status" id="content-status" value="1">
            <button type="submit" class="btn btn-primary" id="submit-btn">提交</button>
        </form>
    </div>
</div>
</body>
</html>
<script src="/static/editor/editormd.js"></script>
<script src="/static/js/jquery.md5.js"></script>
<script type="text/javascript">

    /**
     * 主要功能：自动保存、提交保存
     */

    let mdEditor;
    let contentMd5Temp;
    let contentId;

    $(function () {
        NProgress.start();
        mdEditor = editormd("article-editormd", {
            width: "100%",
            height: 600,
            path: '/static/editor/lib/',
            // theme : "dark",
            // previewTheme : "dark",
            // editorTheme : "pastel-on-dark",
            markdown: "## Hello ImEthan",
            codeFold: true,
            //syncScrolling : false,
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
            searchReplace: true,
            watch: true,                // 关闭实时预览
            htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "/api/article/upload/image?_csrf=" + $("#csrf").val(),
            onchange: function () {

            },
            onload: function () {

            }
        });


        /**
         * 提交保存
         */
        $("#submit-btn").click(function () {

            /**
             * 设置保存类型
             * auto:自动保存
             * publish:发布保存
             */
            $("#content-submit-type").val("publish");

            if ($("#content-form").valid()) {
                $("#content-status").val("0");//正式发布
            }
        });


        /**
         * 自动保存
         */
        setInterval(function () {
            /**
             * 设置保存类型
             * auto:自动保存
             * publish:发布保存
             */
            $("#content-submit-type").val("auto");
            if (checkMd5(mdEditor.getMarkdown()) && $("#content-form").valid()) {
                $("#content-form").submit();
            }
        }, 5000);


        $.get("/api/channel/list/all", function (result) {
            let data = result.data;
            let items = "";
            if (data.length > 0) {
                $.each(data, function (i, item) {
                    $("#channelId").append(" <option value='"+item.id+"'>"+item.name+"</option>");
                })
            }
        })


        let validOption = {
            rules: {
                channelId: "required"
            },
            messages: {
                title: "请输入标题！",
                tag: "请输入标签！",
                content: "请输入内容！",
                channelId: "请选择栏目！"
            },
            ignore: ":hidden:not(select)",//解决无法校验select
            submitHandler: function (form, event) {
                event.preventDefault();
                saveArticleHandle(form);
            }
        }

        $("#content-form").validate(validOption);
        NProgress.done();
    });

    /**
     * 保存内容处理
     * @param form
     */
    function saveArticleHandle(form) {
        $("#submit-btn").attr("disabled", true);//将提交按钮设置为disabled

        let submitType = $("#content-submit-type").val();//auto:自动保存，publish:发布保存

        submitForm(form,
            //成功回调
            function (result) {
                console.log("ajax success result=" + result);
                if (result.isSuccess) {
                    contentId = result.data.id;
                    $("#content-id").val(result.data.id);

                    if (submitType == 'publish') {
                        layer.msg('发布成功，即将跳转到查看页面~~', {offset: '200px', icon: 6});
                        setTimeout(function () {
                            window.location.href = "/blog/article/" + contentId;
                        }, 2000);
                    } else {
                        autoSaveWarn('block', "自动保存成功！");
                    }

                } else {
                    console.log("submitType=" + submitType);
                    if (submitType == 'publish') {
                        layer.msg('发布失败：' + result.message, {offset: '200px', icon: 5});
                    } else {
                        autoSaveWarn('block', "自动保存失败:" + result.message);
                    }
                }
            },
            //失败回调
            function (result) {
                console.log("submitType=" + submitType);
                console.log("submitType=" + (submitType == "publish"));
                // console.log("ajax error result=" + result.statusText);
                // console.log("ajax error result=" + result.status);

                if (submitType == "publish") {
                    layer.msg('发布失败：' + result.status + "-" + result.statusText, {offset: '200px', icon: 5});
                } else {
                    autoSaveWarn('block', "自动保存失败:" + result.status + "-" + result.statusText);
                }

                // console.log("ajax error result=" + JSON.stringify(result));
            });

        $("#submit-btn").removeAttr("disabled");//将提交按钮设置为正常
    }


    function autoSaveWarn(display, message) {
        $("#auto-save-warn").html(message);
        $("#auto-save-warn").css('display', display);

        setTimeout("autoSaveWarn('none')", 3000);
    }

    function checkMd5(content) {
        let md5 = $.md5(content);
        if (contentMd5Temp != md5) {
            contentMd5Temp = md5;
            return true;
        }
        return false;
    }

</script>
