<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="/static/editor/css/editormd.css"/>
    <title>Modify</title>
</head>
<body>
<span class="h3">Modify Content</span>
<p style="float: right;color: red;display: none;" id="auto-save-warn">自动保存成功！</p>
<hr>
<div class="row" style="padding-top: 20px;">
    <div class="col-12">
        <form id="content-form" action="/api/article" method="post">
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Title" name="title" id="content-title"
                       value="title" required>
            </div>
            <div id="article-editormd">
                <textarea style="display:none;" name="content" required></textarea>
            </div>

            <div class="mb-3">
                <label for="content-tag" class="form-label">Tag标签：多个以英文逗号“,”隔开</label>
                <textarea class="form-control" id="content-tag" rows="3" name="tag" value="tag" required></textarea>
            </div>

            <input type="hidden" class="form-control" placeholder="Id" name="status" id="content-status" value="1">
            <input type="hidden" class="form-control" placeholder="Id" name="id" id="content-id" th:value="${id}">
            <button type="submit" class="btn btn-primary" id="submit-btn">提交</button>
        </form>
    </div>
</div>
<script src="/static/editor/editormd.js"></script>
<script src="/static/js/jquery.md5.js"></script>
<script type="text/javascript">
    var testEditor;
    var contentMd5Temp;

    $(function () {
        NProgress.start();
        let content;
        let title;
        let tag;
        let contentId = $("#content-id").val();

        $.get("/api/article/" + contentId, function (result) {
            content = result.data.content;
            title = result.data.title;
            tag = result.data.tag;

            $("#content-title").val(title);
            $("#content-tag").val(tag);


            testEditor = editormd("article-editormd", {
                width: "100%",
                height: 600,
                path: '/static/editor/lib/',
                // theme : "dark",
                // previewTheme : "dark",
                // editorTheme : "pastel-on-dark",
                markdown: content,
                codeFold: true,
                //syncScrolling : false,
                saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
                searchReplace: true,
                watch: true,                // 关闭实时预览
                htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
                //toolbar  : false,             //关闭工具栏
                //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
                emoji: true,
                taskList: true,
                tocm: true,         // Using [TOCM]
                tex: true,                   // 开启科学公式TeX语言支持，默认关闭
                flowChart: true,             // 开启流程图支持，默认关闭
                sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
                //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
                //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
                //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
                //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
                //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "/api/article/upload/image",
                onchange: function () {

                    // var title = $("#content-title").val();
                    // var content = testEditor.getMarkdown();
                    // var tag = $("#content-tag").val();
                    //
                    // var body = {'title': title, 'content': content, 'tag': tag};

                    // $("#content-form").validate(validOption);
                    // $("#content-form").submit();

                    // if(checkMd5(testEditor.getMarkdown())){
                    //     $("#content-form").submit();
                    // }


                    // console.log("onchange =>", this, this.id, this.settings, this.state);
                },
                onload: function () {
                    // console.log('onload', this);
                    //this.fullscreen();
                    //this.unwatch();
                    //this.watch().fullscreen();

                    //this.setMarkdown("#PHP");
                    //this.width("100%");
                    //this.height(480);
                    //this.resize("100%", 640);
                }
            });
        });

        function checkMd5(content) {
            var md5 = $.md5(content);
            if (contentMd5Temp != md5) {
                contentMd5Temp = md5;
                return true;
            }
            return false;
        }

        // 定时任务
        setInterval(function () {
            if (checkMd5(testEditor.getMarkdown())) {
                $("#content-form").submit();
            }
        }, 10000);

        $("#submit-btn").click(function () {
            if($("#content-form").valid()){
                $("#content-status").val("0");//正式发布
                $("#content-form").submit();

                layer.msg('发布成功，即将跳转到查看页面~~', {icon: 6});

                setTimeout(function () {
                    window.location.href = "/blog/article/" + contentId;
                }, 2000);
            }
        });


        var validOption = {
            messages: {
                title: "请输入标题！",
                tag: "请输入标签！",
                content: "请输入内容！"
            },
            submitHandler: function (form, event) {
                event.preventDefault();
                saveContent(form);
            }
        }

        $("#content-form").validate(validOption);

        function saveContent(form) {
            var body = JSON.stringify($(form).serializeObject())
            console.log("body=" + body);
            $.ajax({
                type: form.method,
                url: form.action,
                contentType: 'application/json',
                data: body,
                success: function (result) {
                    console.log("post result result=" + JSON.stringify(result));
                    console.log("post result isSuccess=" + result.isSuccess);
                    if (result.isSuccess) {
                        $("#content-id").val(result.data.id);
                        autoSaveWarn('block');
                    }
                },
                dataType: 'json'
            })
        }

        NProgress.done();
    });

    function autoSaveWarn(display) {
        $("#auto-save-warn").css('display', display);
        setTimeout("autoSaveWarn('none')", 3000);
    }
</script>
</body>
</html>
