<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Channel</title>

</head>
<body>
<div class="row">
    <div class="col-sm-12">
        <div id="toolbar">
            <button class="btn btn-sm btn-primary">添加</button>
            <button class="btn btn-sm btn-info">查看</button>
            <button class="btn btn-sm btn-secondary">修改</button>
            <button class="btn btn-sm btn-danger">删除</button>
        </div>
        <div id="table"></div>
    </div>
</div>
</body>
</html>

<script type="text/javascript">
    $(function () {
        NProgress.start();

        $('#table').bootstrapTable({
            url: '/console/channel/json',
            pagination: true,
            sidePagination: 'server',

            pageSize: 4, //每页显示多少条数据
            pageNumber: 1, //初始化翻页的页码
            pageList: [10, 25, 50, 100],
            queryParamsType:'',

            search: true,
            // sidePagination: 'server',
            showHeader: true,
            // showRefresh: true,
            iconSize:'sm',
            buttonsClass: 'primary',
            icons:{"refresh":"fa-refresh","search":"fa-search"},
            toolbar: '#toolbar',
            columns: [{
                field: 'id',
                title: 'Item ID',
                width: '200'
            }, {
                field: 'name',
                title: 'Item Name',
                width: '600'
            }, {
                field: 'id',
                title: '操作',
                width: '200'

            }]
        })

        NProgress.done();
    });
</script>
