<div th:fragment="setting-about">
    <form id="seting-about-form" action="/console/reset/about" method="post">
        <div class="mb-3">
            <label for="aboutContentId" class="form-label">关联的内容ID</label>
            <input type="text" class="form-control" id="aboutContentId" name="aboutContentId"
                   placeholder="Enter ContentId" required>
        </div>
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="aboutShow" id="aboutShowOption1"
                       value="1">
                <label class="form-check-label" for="aboutShowOption1">开启</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="aboutShow" id="aboutShowOption0"
                       value="0">
                <label class="form-check-label" for="aboutShowOption0">关闭</label>
            </div>
        </div>
        <button type="submit" id="seting-about-button" class="btn btn-primary">确认修改</button>
    </form>
    <script type="text/javascript">
        $(function () {

            let resetAboutValidOption = {
                rules: {
                    aboutConentId: "required",
                },
                messages: {
                    aboutConentId: "请输入ConentId！",
                },
                submitHandler: function (form, event) {
                    event.preventDefault();
                    console.log("resetAbout")
                    submitForm(form, function (result) {
                        if (result.isSuccess) {
                            layer.msg('配置修改成功~~', {icon: 6});
                        }
                    }, function () {
                        layer.msg('配置修改失败~~', {icon: 5});
                    });
                }
            }

            $("#seting-about-form").validate(resetAboutValidOption);

        })

        /**
         * about信息加载
         */
        function loadAbout(){
            $.get("/console/setting/about", function (result) {
                let data = result.data;
                $.each(data, function (i, item) {
                    let name = item.name;
                    let content = item.content;
                    console.log("name=" + name + " content=" + content);
                    if (name == "aboutShow") {
                        $("#" + name + "Option" + content).attr("checked", "checked");
                    } else {
                        $("#" + name).val(content);
                    }
                })
            });
        }
    </script>
</div>