<div th:fragment="setting-password">
    <form id="resetpassword-form" action="/console/reset/password" method="post">
        <div class="mb-3">
            <label for="password" class="form-label">Enter Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2"
                   placeholder="Confirm Password" required>
        </div>
        <button type="submit" id="resetpassword-button" class="btn btn-primary">确认修改</button>
    </form>
    <script type="text/javascript">
        $(function () {
            let resetPasswordValidOption = {
                rules: {
                    password: "required",
                    password2: {
                        equalTo: "#password"
                    }
                },
                messages: {
                    password: "请输入密码！",
                    password2: "请确认密码！"
                },
                submitHandler: function (form, event) {
                    event.preventDefault();
                    submitForm(form, function (result) {
                        if (result.isSuccess) {
                            layer.msg('密码修改成功~~', {icon: 6});
                        }
                    }, function () {
                        layer.msg('密码修改失败~~', {icon: 5});
                    });
                }
            }
            $("#resetpassword-form").validate(resetPasswordValidOption);
        })
    </script>
</div>