<div th:fragment="setting-config">

    <div id="config-box">
        <!--email config begin-->
        <div class="row">
            <div class="col-6">
                <label for="" class="email-host">email.host</label>
                <input type="text" class="form-control" id="email-host" name="email-host"
                       placeholder="Enter email.host">
            </div>
            <div class="col-6">
                <label for="" class="form-label">email.properties.mail.smtp.port</label>
                <input type="text" class="form-control" id="email-port" name="email-port"
                       placeholder="Enter email.port">
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="" class="form-label">email.username</label>
                <input type="text" class="form-control" id="email-username" name="email-username"
                       placeholder="Enter ContentId">
            </div>
            <div class="col-6">
                <label for="" class="form-label">email.password</label>
                <input type="text" class="form-control" id="email-password" name="email-password"
                       placeholder="Enter email.password" required>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="" class="form-label">email.from</label>
                <input type="text" class="form-control" id="email-from" name="email-from"
                       placeholder="Enter email.from">
            </div>
            <div class="col-6">

            </div>
        </div>
        <div class="row">
            <div class="input-group col-6">
                <span class="input-group-text">email.to</span>
                <input style="width: 20px!important;" class="form-control" id="test-email" type="email"
                       name="test-email" value="" placeholder="email address"/>
                <button class="btn btn-primary" id="test-email-btn">测试发送</button>
            </div>
        </div>
        <!--email config end-->
        <hr>
        <!--qiniu config begin-->
        <div class="row">
            <div class="col-6">
                <label for="" class="form-label">qiniu.accessKey</label>
                <input type="text" class="form-control" id="qiniu-accessKey" name="qiniu-accessKey"
                       placeholder="Enter qiniu.accessKey">
            </div>
            <div class="col-6">
                <label for="" class="form-label">qiniu.secretKey</label>
                <input type="text" class="form-control" id="qiniu-secretKey" name="qiniu-secretKey"
                       placeholder="Enter qiniu.secretKey" required>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <label for="" class="form-label">qiniu.bucket</label>
                <input type="text" class="form-control" id="qiniu-bucket" name="qiniu-bucket"
                       placeholder="Enter qiniu.bucket" required>
            </div>
            <div class="col-6">
                <label for="" class="form-label">qiniu.domainOfBucket</label>
                <input type="text" class="form-control" id="qiniu-domainOfBucket" name="qiniu-domainOfBucket"
                       placeholder="Enter qiniu.domainOfBucket" required>
            </div>
        </div>
        <!--qiniu config end-->
        <button class="btn btn-primary" id="config-btn-save">保存</button>
        <button class="btn btn-outline-secondary" id="config-btn-reset">重置</button>
    </div>
    <script type="text/javascript">
        $(function () {

            /**
             * 系统配置数据{"module":"","name":"","content":""}
             * input的id设置为"${module}-${name}"
             */

            $("#config-btn-save").click(function () {
                let jsonList = new Array();
                $("#config-box input").each(function () {
                    let names = $(this).attr("name");
                    let value = $(this).val();

                    let nameArry = names.split("-");
                    let module = nameArry[0];
                    let name = nameArry[1];

                    let json = new Object();
                    json.module = module;
                    json.name = name;
                    json.content = value;

                    jsonList.push(json);
                })

                $.ajax({
                    headers: {
                        "X-CSRF-TOKEN": $("meta[name='_csrf']").attr("content")
                    },
                    url: "/api/setting/upset",
                    type: "put",
                    data: JSON.stringify(jsonList),
                    contentType: 'application/json',
                    success: function (result) {
                        if (result.isSuccess) {
                            layer.msg('配置修改成功~~', {offset: '200px',icon: 6});
                        }
                    },
                    error: function (result) {
                        layer.msg('配置修改失败~~', {offset: '200px',icon: 5});
                    }
                })
            })

            $("#config-btn-reset").click(function () {
                loadConfig();
            })

            $("#test-email-btn").click(function () {
                let email = $("#test-email").val();
                $.get("/api/common/test/email/" + email, function (result) {
                    layer.msg(result.message, {offset: '200px',icon: 6});
                })
            })

        })


        function loadConfig() {
            $.get("/api/setting/email,qiniu", function (result) {
                $.each(result.data, function (i, item) {
                    let module = item.module
                    let name = item.name
                    let content = item.content
                    $("#" + module + "-" + name).val(content);
                })

            })
        }

    </script>
</div>