<div th:fragment="setting-actuator">
    <div id="system-actuator" style="display: none;"></div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col" style='width: 210px;'>Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody id="system-actuator-base">
<!--        <tr>-->
<!--            <td style='width: 200px;'>Mark</td>-->
<!--            <td>@mdo</td>-->
<!--        </tr>-->
        </tbody>
    </table>
    <div class="level1-title">更多系统信息</div>
    <div id="system-actuator-box" style="margin: 10px 0px 40px 0px;">
        <button class="btn btn-sm btn-primary" id="env">env</button>
        <button class="btn btn-sm btn-primary" id="beans">beans</button>
        <button class="btn btn-sm btn-primary" id="health">health</button>
        <button class="btn btn-sm btn-primary" id="loggers">loggers</button>
        <button class="btn btn-sm btn-primary" id="metrics">metrics</button>
        <button class="btn btn-sm btn-primary" id="info">info</button>
        <button class="btn btn-sm btn-primary" id="conditions">conditions</button>
        <button class="btn btn-sm btn-primary" id="mappings">mappings</button>
        <button class="btn btn-sm btn-primary" id="scheduledtasks">scheduledtasks</button>
    </div>

    <script type="text/javascript">
        $(function () {

            let layerOption = {
                type: 1,
                offset: "100px",
                title: false,
                maxmin: true,
                closeBtn: 1,
                // btn: ['关闭'],
                shadeClose: true,
                area: ['980px', '600px'],
                content: $("#system-actuator"),
                yes: function (index, layero) {
                    layer.close(index);
                }
            }

            $("#system-actuator-box .btn").each(function () {
                $(this).click(function () {
                    loadActuatorMsg($(this).html());
                    layer.open(layerOption);
                })
            })
        })

        /**
         * 获取actuator信息
         */
        function getActuatorContent(content, callback) {
            $.get("/actuator/" + content, function (json) {
                callback(json)
            })
        }

        /**
         * 弹窗展示actuator信息
         */
        function loadActuatorMsg(content) {
            getActuatorContent(content, function (json) {
                $('#system-actuator').jsonViewer(json, {
                    collapsed: false,
                    withQuotes: false,
                    withLinks: false
                });
            })

        }

        /**
         * 进入初始化加载Actuator信息
         */
        function loadActuator() {

            getActuatorContent("env", function (json) {

                let jsonArray = [];
                let keys = "os.name,PID,user.dir,java.home,java.version,java.specification.version,catalina.home,spring.data.mongodb.uri";
                searchJsonKeys(keys, json, jsonArray)

                let keyArray = keys.split(",");
                $("#system-actuator-base").html("");
                for (let i in jsonArray) {
                    let json = jsonArray[i]
                    let tr = "" +
                        "<tr>" +
                        " <td style='width: 210px;font-weight: bolder;'>" + keyArray[i] + "</td>" +
                        " <td>" + json.value + "</td>" +
                        "</tr>";


                    // console.log("key=" + json.key + " -value=" + json.value);
                    $("#system-actuator-base").append(tr);
                }
            })
        }

        /**
         * keys以英文逗号隔开
         */
        function searchJsonKeys(keys, json, jsonArray) {
            let keyArray = keys.split(',');
            for (let key in keyArray) {
                searchJsonKey(keyArray[key], json, jsonArray)
            }
        }

    </script>
</div>