<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Setting</title>

</head>

<body>

<span class="h1">
    Setting
</span><small>系统基础参数配置</small>
<hr>

<div class="row" style="padding-top: 20px;">
    <div class="col-3">
        <ul class="list-group">
            <li class="list-group-item active" type="system">系统信息</li>
            <li class="list-group-item" type="common">基本配置</li>
            <li class="list-group-item" type="meta">META配置</li>
            <li class="list-group-item" type="copyright">版权设置</li>
            <li class="list-group-item" type="about">About设置</li>
            <li class="list-group-item" type="password">修改密码</li>
        </ul>
    </div>
    <div class="col-9">
        <div class="shadow-sm p-3 mb-5 bg-white rounded">

            <div class="level1-title " type="system">系统配置</div>

            <div id="setting-box" class="text-muted">
                <section hidden type="password">
                    <form id="resetpassword-form" action="/console/reset/password" method="post">
                        <div class="mb-3">
                            <label for="password" class="form-label">Enter Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Enter Password" required>
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" name="password2"
                                   placeholder="Confirm Password" required>
                        </div>
                        <button type="submit" id="resetpassword-button" class="btn btn-primary">确认修改</button>
                    </form>
                </section>
            </div>

        </div>
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    $(function () {
        NProgress.start();


        $(".list-group li").each(function () {
            $(this).click(function () {
                NProgress.start();
                //移除全部选中
                $(".list-group li").each(function () {
                    $(this).removeClass("active");
                })
                //添加点击选中
                $(this).addClass("active");

                //设置表单内容标题
                var type = $(this).attr("type");
                $(".level1-title").attr("type", type);
                $(".level1-title").html($(this).html());

                //隐藏所有配置内容
                $("#setting-box section").each(function () {
                    $(this).attr("hidden", "hidden")

                });
                //激活选中配置内容
                $("#setting-box section").each(function () {
                    if ($(this).attr("type") == type) {
                        $(this).removeAttr("hidden")
                    }
                });


                NProgress.done();
            })
        })
        NProgress.done();


        var validOption = {
            rules: {
                password: "required",
                password2: {
                    equalTo: "#password"
                }
            },
            messages: {
                password: "请输入密码！",
                password2: "请确认密码！"
            },
            submitHandler: function (form, event) {
                event.preventDefault();
                submitForm(form, function (result) {
                    if (result.isSuccess) {
                        layer.msg('密码修改成功~~', {icon: 6});
                    }
                });
            }
        }
        $("#resetpassword-form").validate(validOption);


    });
</script>
