<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Setting - ImEthan - 一个野生程序猿的自留地</title>
    <link href="/static/json-viewer/jquery.json-viewer.css" rel="stylesheet">
    <script src="/static/json-viewer/jquery.json-viewer.js"></script>
    <style>
        .row {
            margin-bottom: 10px !important;
        }

        label {
            font-weight: bold !important;
        }
    </style>
    <script type="text/javascript">
        /**
         * Setting模块采用左侧菜单，右侧功能区域的页面渲染模式,添加模块步骤：
         * 1、settingOption配置项添加模块信息,例如： {type: "about", title: "About设置", init: "loadAbout"}
         * 其中type表示模块类型，title表示模块名称，init表示初始化加载的方法
         * 2、在id为setting-box的div里面添加对应的section代码块，例如：
         * <section hidden type="about"> 默认将模块隐藏hidden,类型设置为与配置项一致
         *     <div th:replace="console/setting-about :: setting-about"></div>
         * </section>
         * 3、添加html引入模块console/setting-about，其中需要注意的的是模板里面div设定，<div th:fragment="setting-about">
         **/
        $(function () {
            NProgress.start();

            //默认加载系统信息
            // loadActuator();


            let settingOption = [
                {type: "actuator", title: "系统信息", init: "loadActuator"},
                {type: "config", title: "参数配置", init: "loadConfig"},
                {type: "copyright", title: "版权信息"},
                {type: "meta", title: "META配置"},
                {type: "about", title: "About设置", init: "loadAbout"},
                {type: "password", title: "修改密码"},
                {type: "systemlog", title: "系统日志", init: "loadSystemLog"},
                {type: "other", title: "其他操作"}
            ];

            window.initSettingBox = {
                "loadAbout": function () {
                    loadAbout();
                },
                "loadActuator": function () {
                    loadActuator();
                },
                "loadSystemLog": function () {
                    loadSystemLog();
                },
                "loadConfig": function () {
                    loadConfig();
                }
            }

            //初始化左侧菜单
            $.each(settingOption, function (i, item) {
                let active = "";
                if (i == 0) {
                    active = "active";
                    loadActuator();
                }
                let li = "<li class='list-group-item " + active + "' type='" + item.type + "'>" + item.title + "</li>"
                $("#setting-menu").append(li);
            })

            $(".list-group li").each(function () {
                $(this).click(function () {
                    NProgress.start();

                    /**
                     * 左侧菜单处理
                     */
                    //移除全部选中
                    $(".list-group li").each(function () {
                        $(this).removeClass("active");
                    })
                    //添加点击选中
                    $(this).addClass("active");

                    /**
                     * 右侧内容处理
                     * @type {jQuery}
                     */
                        //设置表单内容标题
                    let type = $(this).attr("type");
                    $("#setting-box-title").attr("type", type);
                    $("#setting-box-title").html($(this).html());

                    //隐藏所有配置内容
                    $("#setting-box section").each(function () {
                        $(this).attr("hidden", "hidden")

                    });
                    //激活选中配置内容
                    $("#setting-box section").each(function () {
                        if ($(this).attr("type") == type) {
                            $(this).removeAttr("hidden")

                            $.each(settingOption, function (i, item) {
                                if (type == item.type) {
                                    console.log("item=" + JSON.stringify(item));
                                    if (item.init) {
                                        try {
                                            initSettingBox[item.init]();
                                        } catch (e) {
                                            console.log(e);
                                        }
                                    }
                                }
                            })
                        }
                    });

                    NProgress.done();
                })
            })
            NProgress.done();
        });
    </script>
</head>

<body>
<div class="container main-box">
    <span class="h1">Setting</span><small>系统基础参数配置</small>
    <hr>
    <div class="row" style="padding-top: 20px;">
        <div class="col-2">
            <ul class="list-group" id="setting-menu">
                <!--                <li class="list-group-item active" type="system">系统信息</li>-->
            </ul>
        </div>
        <div class="col-10">
            <div class="shadow-sm p-3 mb-5 bg-white rounded">

                <div id="setting-box-title" class="level1-title" style="margin-bottom: 20px;" type="system">系统信息</div>

                <div id="setting-box" class="text-muted">
                    <!--系统信息开始-->
                    <section type="actuator">
                        <div th:replace="console/setting-actuator :: setting-actuator"></div>
                    </section>
                    <!--系统信息结束-->

                    <!--系统配置开始-->
                    <section hidden type="config">
                        <div th:replace="console/setting-config :: setting-config"></div>
                    </section>
                    <!--系统配置结束-->

                    <!--密码设置开始-->
                    <section hidden type="password">
                        <div th:replace="console/setting-password :: setting-password"></div>
                    </section>
                    <!--密码设置结束-->

                    <!--About设置开始 -->
                    <section hidden type="about">
                        <div th:replace="console/setting-about :: setting-about"></div>
                    </section>
                    <!--About设置结束 -->

                    <!--其他操作开始-->
                    <section hidden type="other">
                        <a href="/api/article/import" target="_blank" class="btn-link">批量导入历史文章，初始化时使用，仅运行一次</a>
                        <br>
                        <a href="/hal" target="_blank" class="btn-link">hal数据浏览</a>
                        <br>
                        <a href="/api/common/mongodb/export" target="_blank" class="btn-link">执行mongodb数据备份</a>
                    </section>
                    <!--其他操作结束-->
                    <section hidden type="systemlog">
                        <div th:replace="console/setting-systemlog :: setting-systemlog"></div>
                    </section>


                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>