<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog</title>
</head>

<body>

<span class="h3">My Blog</span><small>  我的工作和学习笔记</small>
<hr>


<div class="row">
    <div class="col-sm-8">

        <ul class="list-unstyled list-group">
            <li class="list-group-item list-group-item-articlelist">
                <a href="/blog/article/1234567890" class="title">在Spring MVC的拦截器里面获取上传和下载的文件大小</a>
                <small><a href="">spring专题</a> 2019/10/10</small>
            </li>

            <li class="list-group-item list-group-item-articlelist">
                <a href="/blog/article/1234567890" class="title">java InputStream读取数据问题</a>
                <small><a href="">程序员笔记</a> 2018/01/18</small>
            </li>

            <li class="list-group-item list-group-item-articlelist">
                <a href="/blog/article/1234567890" class="title">关于mongoDB的一些常用查询语句</a>
                <small><a>MongoDB</a> 2016/12/01</small>
            </li>
        </ul>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>


    </div>
    <div class="col-sm-4">
<!--        <ul class="list-group">-->
<!--            <li class="list-group-item">技术笔记</li>-->
<!--            <li class="list-group-item">SpringBoot的应用</li>-->
<!--            <li class="list-group-item">MongoDB</li>-->
<!--            <li class="list-group-item">微服务架构</li>-->
<!--            <li class="list-group-item">单服务解决方案</li>-->
<!--        </ul>-->

        <div class="first-level-title">Content Tag</div>
        <div class="tag-box">
            <a class="badge bg-primary" href="" role="button">项目管理</a>
            <a class="badge bg-secondary" href="" role="button">研发架构</a>
            <a class="badge bg-success" href="" role="button">从零开始</a>
            <a class="badge bg-danger" href="" role="button">SpringBoot</a>
            <a class="badge bg-warning" href="" role="button">ActiveMQ</a>
            <a class="badge bg-info" href="" role="button">EMQX</a>
            <a class="badge bg-dark" href="" role="button">VUE运用</a>
        </div>

    </div>
</div>

</body>
</html>

