<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>HTML Preview (markdown to html) - Editor.md examples</title>
    <link rel="stylesheet" href="/static/editor/css/editormd.preview.css"/>
</head>
<body>
<span class="h3" id="content-title"></span>
<div style="margin: 8px 0px 8px 4px;">
    <span id="content-time"></span>
    <input type="hidden" name="" th:value="${id}" id="content-id">
    <span sec:authorize="isAuthenticated()" >
        <i class="fa fa-book" aria-hidden="true" style="padding-left: 10px;"></i>
        <a type="button" th:href="@{'/console/article/modify/'+${id}}">编辑</a>

        <i class="fa fa-times" aria-hidden="true" style="padding-left: 10px;"></i>
        <a type="button"  id="content-delete">删除</a>
    </span>
</div>


<div id="article-editormd-view" style="padding: 0px!important;">
    <textarea style="display:none;" name="article-editormd-markdown-doc">###Hello world!</textarea>
</div>

<script src="/static/editor/lib/marked.min.js"></script>
<script src="/static/editor/lib/prettify.min.js"></script>
<script src="/static/editor/lib/raphael.min.js"></script>
<script src="/static/editor/lib/underscore.min.js"></script>
<script src="/static/editor/lib/sequence-diagram.min.js"></script>
<script src="/static/editor/lib/flowchart.min.js"></script>
<script src="/static/editor/lib/jquery.flowchart.min.js"></script>

<script src="/static/editor/editormd.js"></script>
<script type="text/javascript">
    $(function () {
        var articleEditormdView;
        $.get("/api/article/" + $("#content-id").val(), function (result) {

            $("title").html(result.data.title);

            $("#content-title").html(result.data.title);
            $("#content-time").html(result.data.createAt);

            var content = result.data.content;

            articleEditormdView = editormd.markdownToHTML("article-editormd-view", {
                markdown: content,//+ "\r\n" + $("#append-test").text(),
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                // toc: true,
                tocm: true,    // Using [TOCM]
                // tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                tocDropdown: true,
                markdownSourceCode: true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
        });

        $("#content-delete").click(function (){
            alert($(this).html());
        });
    });
</script>
</body>
</html>