<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/js/pagination.css" rel="stylesheet">
    <title>Blog</title>
    <style>
        .channel-box {
            padding-right: 20px;
        }
    </style>
</head>
<body>
<span class="h2" style="font-weight: 200;">My Blog</span><small> 我的工作和学习笔记</small>
<span style="float: right;display: inline;padding-right: 20px;">
    <input style="width: 330px;border-radius:0px;display: inline;" type="text" class="form-control"
           placeholder="search" name="keyword" id="search-keyword">
</span>
<hr>
<div class="row">
    <div class="col-sm-8">

        <ul class="list-unstyled list-group" id="blog-box">
            <!--            <li class="list-group-item list-group-item-articlelist">-->
            <!--                <a href="/blog/article/1234567890" class="title">在Spring MVC的拦截器里面获取上传和下载的文件大小</a>-->
            <!--                <small><a href="">spring专题</a> 2019/10/10</small>-->
            <!--            </li>-->
        </ul>


        <div class="m-style" id="pagination"></div>


    </div>
    <div class="col-sm-4">
        <div class="level1-title">Content Channel</div>
        <ul class="list-group channel-box">
        </ul>

        <div class="level1-title">Content Tag</div>
        <div class="tag-box">
            <!--            <a class="badge bg-primary" href="" role="button">项目管理</a>-->
            <!--            <a class="badge bg-secondary" href="" role="button">研发架构</a>-->
            <!--            <a class="badge bg-success" href="" role="button">从零开始</a>-->
            <!--            <a class="badge bg-danger" href="" role="button">SpringBoot</a>-->
            <!--            <a class="badge bg-warning" href="" role="button">ActiveMQ</a>-->
            <!--            <a class="badge bg-info" href="" role="button">EMQX</a>-->
            <!--            <a class="badge bg-dark" href="" role="button">VUE运用</a>-->
        </div>

    </div>
</div>
<script src="/static/js/jquery.pagination.js"></script>
<script src="/static/js/tag.js"></script>
<script src="/static/js/blog.js"></script>
<script type="text/javascript">
    $(function () {
        NProgress.start();

        //加载内容
        loadBlog("#blog-box", '#pagination', page, size, '', '');

        //加载标签
        loadTag(".tag-box");

        //加载栏目
        loadChannel(".channel-box");

        //检索时间
        $("#search-keyword").bind('keypress', function (event) {
            if (event.keyCode == "13") {
                console.log("search val=" + $(this).val());
                loadBlog("#blog-box", '#pagination', page, size, 'title', $(this).val());
            }
        })

        NProgress.done();



    });


</script>
</body>
</html>

