<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="/static/js/pagination.css" rel="stylesheet">
    <title>Blog</title>
    <style>
        .channel-box {
            padding-right: 20px;
        }

        #blog-box i {
            padding-right: 10px;
        }
    </style>
</head>
<body>
<span class="h2" style="font-weight: 200;">My Blog</span><small> 我的工作和学习笔记</small>
<span style="float: right;display: inline;padding-right: 20px;">
    <input style="width: 330px;border-radius:0px;display: inline;" type="text" class="form-control"
           placeholder="search" name="keyword" id="search-keyword">
</span>
<hr>
<div class="row">
    <div class="col-sm-8">
        <ul class="list-unstyled list-group" id="blog-box">
            <!--            <li class="list-group-item list-group-item-articlelist">-->
            <!--                <a href="/blog/article/1234567890" class="title">在Spring MVC的拦截器里面获取上传和下载的文件大小</a>-->
            <!--                <small><a href="">spring专题</a> 2019/10/10</small>-->
            <!--            </li>-->
        </ul>
        <div class="m-style" id="pagination"></div>
    </div>
    <div class="col-sm-4">
        <div sec:authorize="isAuthenticated()">
            <div class="level1-title">Admin Only</div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-sm">
                    <i class="fa fa-pencil-square-o color-primary align-middle" aria-hidden="true"></i>
                    <a href="/console/article/input">发布内容</a>
                </div>
                <div class="col-sm">
                    <i class="fa fa-list color-info align-middle" aria-hidden="true"></i>
                    <a href="/console/channel">栏目管理</a>
                </div>
                <div class="col-sm">
                    <i class="fa fa-cog color-warning align-middle" aria-hidden="true"></i>
                    <a href="/console/setting">系统配置</a>
                </div>
            </div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-sm">
                    <i class="fa fa-recycle color-danger align-middle" aria-hidden="true"></i>
                    <a href="javascript:;" id="recycle-link">回收内容</a>
                </div>
                <div class="col-sm">
                    <i class="fa fa-paint-brush color-warning align-middle" aria-hidden="true"></i>
                    <a href="javascript:;" id="modify-link">查看草稿</a>
                </div>
                <div class="col-sm">
                    <i class="fa fa-star color-primary align-middle" aria-hidden="true"></i>
                    <a href="/blog">已发内容</a>
                </div>
            </div>
        </div>

        <div class="level1-title">Content Channel</div>
        <ul class="list-group channel-box">
        </ul>

        <div class="level1-title">Content Tag</div>
        <div class="tag-box">
            <!--            <a class="badge bg-primary" href="" role="button">项目管理</a>-->
        </div>

    </div>
</div>
<script src="/static/js/jquery.pagination.js"></script>
<script src="/static/js/tag.js"></script>
<script src="/static/js/blog.js"></script>
<script type="text/javascript">
    $(function () {
        NProgress.start();

        let key = '', value = '';
        /**
         * 0-正常，1-草稿，2-回收
         */
        let status = getUrlParam("status")
        if (status != null) {
            key = "status";
            value = status;
        }

        //加载内容
        loadBlog("#blog-box", '#pagination', page, size, key, value);

        //加载标签
        loadTag(".tag-box");

        //加载栏目
        loadChannel(".channel-box");

        NProgress.done();

        //检索时间
        $("#search-keyword").bind('keypress', function (event) {
            if (event.keyCode == "13") {
                loadBlog("#blog-box", '#pagination', page, size, 'title', $(this).val());
            }
        })

        //回收内容
        $("#recycle-link").click(function () {
            loadBlog("#blog-box", '#pagination', page, size, "status", 2);
        });

        //草稿内容
        $("#modify-link").click(function () {
            loadBlog("#blog-box", '#pagination', page, size, "status", 1);
        });

    });

    /**
     * 获取url参数值
     * @param name
     * @returns {string|null}
     */
    function getUrlParam(name) {
        let reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
        let r = window.location.search.substr(1).match(reg);  //匹配目标参数
        if (r != null) return unescape(r[2]);
        return null; //返回参数值
    }

</script>
</body>
</html>

