<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="mydebug">
    <div class="alert alert-warning " role="alert" style="margin-bottom: 0px;">
        <h4 class="alert-heading">Debug info</h4>
        <hr>
        module: <div th:text="${module}"></div>
        <br>
        CSRF:<span th:text="${_csrf.parameterName}"></span>
        <br>
        TOKEN:<span th:text="${_csrf.token}"></span>
        <br>
        HEADERNAME:<span th:text="${_csrf.headerName}"></span>
        <br>
        COUNT:<span th:text="${COUNT}"></span>
        <p class="mb-0"></p>
    </div>
</div>
</body>
</html>