<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>
        <sitemesh:write property='title'/>
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ImEthan,EthanWong,ethanwong,ethan,blog">
    <meta name="author" content="ImEthan,EthanWong,ethanwong,ethan,blog">
    <link rel="icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/webjars/fontawesome/4.7.0/css/font-awesome.css"/>
    <link href="/static/css/common.css" rel="stylesheet">
    <link href="/static/css/blog.css" rel="stylesheet">
    <link href="/static/css/header.css" rel="stylesheet">
    <link href="/static/css/footer.css" rel="stylesheet">
    <link href="/static/js/nprogress.css" rel="stylesheet">
    <script src="/static/js/nprogress.js"></script>
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/jquery.validate.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/webjars/bootstrap-table/1.15.4/dist/bootstrap-table.css" rel="stylesheet"/>
    <script src="/webjars/bootstrap-table/1.15.4/dist/bootstrap-table.js"></script>

    <!--<script src="/webjars/bootstrap-table/1.15.4/dist/extensions/addrbar/bootstrap-table-addrbar.js"></script>-->
    <!--<script src="/webjars/bootstrap-table/1.15.4/dist/extensions/toolbar/bootstrap-table-toolbar.js"></script>-->
    <script src="/webjars/bootstrap-table/1.15.4/dist/locale/bootstrap-table-zh-CN.js"></script>

    <script src="/static/js/common.js"></script>
    <script src="/static/layer/layer.js"></script>

    <sitemesh:write property='head'/>
</head>
<body>
<div th:replace="decorator/header :: myheader"></div>
<div class="container" style="margin-top: 30px;margin-bottom: 30px;">
    <sitemesh:write property='body'/>
</div>

<!--<div class="container" th:replace="decorator/debug :: mydebug"></div>-->
<sitemesh:write property='myTag'/>

<div th:replace="decorator/footer :: myfooter"></div>
</body>
</html>