<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<div th:fragment="myfooter">
    <footer class="blog-footer">
        <p>Copyright © 2014-2020 ImEthan. <a href="https://beian.miit.gov.cn" target="_blank">闽ICP备15016601号-1</a></p>
        <p>
<!--            <i class="fa fa-tachometer"></i>-->
<!--            <a href="/console">Console</a>-->
<!--            |-->
            <a href="#">Back to top</a>
        </p>
    </footer>
</div>
</html>
