<div th:fragment="myheader">
    <div class="header">
        <div class="container">
            <a class="navbar-brand" href="/">ImEthan</a>
            <div class="navbar nav-item">
                <a  href="/" th:class="'nav-item ' + @{(${module eq ''} ? 'active' : '')} + ''">Home</a>
                <a  href="/blog" th:class="'nav-item ' + @{(${module eq 'blog'} ? 'active' : '')} + ''">Blog</a>
                <a  href="/gitalk" th:class="'nav-item ' + @{(${module eq 'gitalk'} ? 'active' : '')} + ''">Gitalk</a>
                <a  href="/about" th:class="'nav-item ' + @{(${module eq 'about'} ? 'active' : '')} + ''">About</a>
            </div>

            <div class="navbar nav-item nav-item-right ">
                <span sec:authorize="isAuthenticated()">
                    <a class="nav-item default" href="/console/setting"><i class="fa fa-cogs"></i> Setting</a>
                 </span>


                <a class="nav-item default" href="https://github.com/ethanwong" target="_blank"><i class="fa fa-github"></i> GitHub</a>

                <span sec:authorize="isAuthenticated()">
                    <a class="nav-item default" href="/signout"><i class="fa fa-sign-out"></i> Sign Out</a>
                </span>

                <span sec:authorize="!isAuthenticated()">
                    <span th:switch="${module}">
                        <span th:case="signin">
                             <a class="nav-item active" href="/signin"><i class="fa fa-sign-in"></i> Sign In</a>
                        </span>
                        <span th:case="*">
                             <a class="nav-item " href="/signin"><i class="fa fa-sign-in"></i> Sign In</a>
                        </span>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>