.list-group-item-articlelist {
    border: 0px;
    padding-left: 0px;
}

.list-group-item-articlelist .title {
    display: block;
    font-size: 18px;

}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}