.list-group-item-articlelist {
    border: 0px;
    padding-left: 0px;
}

.list-group-item-articlelist .title {
    display: block;
    font-size: 18px;
    padding-bottom: 2px;

}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}

.markdown-toc-list{
    padding-top: 20px;
}

.markdown-toc-list ul{
    padding-left: 0px;
}

.markdown-toc-list li{
    padding-left: 0px;
    margin-left: 10px;
}