@media (min-width: 1200px) {
    .container {
        /*width: 970px;*/
        width: 100% !important;
    }
}

html {position: relative;min-height: 100%;}
body {
    font-family: "Microsoft YaHei", "Microsoft YaHei  UI","Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei",  sans-serif;
    font-size: 14px;
    color:#444;
    line-height: 1.5;
    font-weight: normal;
}
a{color:#555;border-radius:0px !important;}
a{ text-decoration:none;}
a:hover{ text-decoration:none;}
hr{margin: 10px 0px 10px 0px;}
li{border-radius:0px !important;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    font-weight: lighter!important;
}

.page-link{
    margin-top: 20px;
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
     color: #555;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.th-inner{
    font-weight: lighter!important;
}

.table {table-layout:fixed;}

.pagination{
    padding-top: 0px;
    margin-top: 0px;
}

.btn-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #428bca;
}


.level1-title{
    margin: 20px 8px 8px 0px;
    font-weight: bolder;
}
.tag-box .badge{
    margin: 4px !important;
    color: white !important;
    font-weight: lighter!important;
    padding: 8px;!important;
}
.color-primary{color: #428bca!important;}
.color-success{color: #5cb85c!important;}
.color-info{color: #5bc0de!important;}
.color-warning{color: #f0ad4e!important;}
.color-danger{color: #d9534f!important;}
.layui-layer-btn .layui-layer-btn0{color: #fff!important; }

.bg-primary {
    background-color: #428bca!important;
}

.list-group-item.active{
    background-color: #428bca;
    border-color: #428bca;
}
.btn {
    border-radius: 0px !important;
}

