/* new  */

nav {
    background-color: #428bca !important;
    font-weight: lighter;
}

.navbar-brand {
    color: #fff !important;
}

nav a {
    color: #cdddeb !important;
}

.navbar-nav a:hover,
.navbar-nav a:focus {
    color: #fff !important;
}

.navbar-nav .active {
    color: #fff!important;
}

.outer-link {
    color: #fff !important;
    padding-right: 15px;
}




