<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h2>About me</h2>
<hr>
<div class="row">
    <div class="col-sm-2">
        <img src="/static/img/20181226115539-300.jpg" class="img-thumbnail" width="300"  alt="...">
        <p>Ethan Wong | 黄应锋</p>
        <p><i class="fa fa-envelope"></i> ethanwong@qq.com</p>
        <p><i class="fa fa-qq"></i> 362108967</p>
        <p><i class="fa fa-address-book"></i> China.Xiamen</p>
    </div>
    <div class="col-sm-10">
        <h1>Some about...</h1>
    </div>
</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        NProgress.start();

        NProgress.done();
    });
</script>