<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - ImEthan - 一个野生程序猿的自留地</title>
    <meta name="description" content="About - ImEthan - 一个野生程序猿的自留地">
    <meta name="keywords" content="About,ImEthan,一个野生程序猿的自留地">
    <link rel="stylesheet" href="/static/editor/css/editormd.preview.css"/>
    <style>
        #about-box {
            margin-left: 20px;
            margin-right: 20px;

        }
    </style>
</head>
<body>

<div class="container main-box">
    <h2>About me</h2>
    <hr>
    <div class="row">
        <div class="col-sm-2">
            <img src="/static/img/20181226115539-300.jpg" class="img-thumbnail" width="300" alt="...">
            <p>Ethan Wong | 黄应锋</p>
            <p><i class="fa fa-envelope"></i> ethanwong@qq.com</p>
            <p><i class="fa fa-qq"></i> 362108967</p>
            <p><i class="fa fa-address-book"></i> China.Xiamen</p>
        </div>
        <div class="col-sm-10">
            <div id="about-box">
                <div id="article-editormd-view" style="padding: 0px!important;">
                    <textarea style="display:none;" name="article-editormd-markdown-doc">###Hello world!</textarea>
                </div>
                <div id="updateAt" style="float: right;margin: 20px;"></div>
                <div class="shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: 20px!important;">
                    <div id="gitalk-box"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script src="/static/editor/lib/marked.min.js"></script>
<script src="/static/editor/lib/prettify.min.js"></script>
<script src="/static/editor/lib/raphael.min.js"></script>
<script src="/static/editor/lib/underscore.min.js"></script>
<script src="/static/editor/lib/sequence-diagram.min.js"></script>
<script src="/static/editor/lib/flowchart.min.js"></script>
<script src="/static/editor/lib/jquery.flowchart.min.js"></script>
<script src="/static/editor/editormd.js"></script>
<script type="text/javascript">
    $(function () {
        NProgress.start();

        $.get("/api/about", function (result) {
            let data = result.data;

            if (data != null) {
                let articleEditormdView = editormd.markdownToHTML("article-editormd-view", {
                    markdown: data.content,//+ "\r\n" + $("#append-test").text(),
                    //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                    htmlDecode: "style,script,iframe",  // you can filter tags decode
                    // toc: true,
                    tocm: true,    // Using [TOCM]
                    tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
                    //gfm             : false,
                    tocDropdown: true,
                    markdownSourceCode: true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                    emoji: true,
                    taskList: true,
                    tex: true,  // 默认不解析
                    flowChart: true,  // 默认不解析
                    sequenceDiagram: true,  // 默认不解析
                });

                $("#updateAt").append("内容更新时间：" + data.updateAt);
            } else {
                $("#about-box").html("<h1>没有介绍！</h1>")
            }

            loadGitalk("gitalk-box", "About me");
        });

        NProgress.done();
    });
</script>