<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
<h2>About me</h2>
<hr>
<div class="row">
    <div class="col-sm-2">
        <img src="/static/img/e-rgb(76,%20142,%20250).png" class="img-thumbnail" width="200" height="200" alt="...">
        <p>Ethan Wong | 黄应锋</p>
        <p><i class="fa fa-envelope"></i> ethanwong@qq.com</p>
        <p><i class="fa fa-qq"></i> 362108967</p>
        <p><i class="fa fa-address-book"></i> China.Xiamen</p>
    </div>
    <div class="col-sm-10">
        Some about content...
    </div>
</div>
</body>
</html>