<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <style>
        #admin-box i {
            font-size: 20px !important;
        }

        #admin-box {
            height: 200px;
        }
    </style>
</head>
<body>
<div class="main-box">
    <span class="h1">Admin</span><small>管理控制台</small>
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div id="admin-box" class="container">

            <div class="row">
                <div class="col-sm">
                    <i class="fa fa-pencil-square-o color-primary align-middle" aria-hidden="true"></i>
                    <a href="/console/article/input">发布内容</a>
                </div>
                <div class="col-sm">
                    <i class="fa fa-list color-info align-middle" aria-hidden="true"></i>
                    <a href="/console/channel">栏目管理</a>
                </div>
                <div class="col-sm">
                    <i class="fa fa-cog color-warning align-middle" aria-hidden="true"></i>
                    <a href="/console/setting">系统配置</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>