<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container main-box">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="h4">
            Hey !<br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ImEthan Blog 2 的MongoDB数据库已经完成自动备份，
            备份文件在服务器上的路径为"<span th:text="${targetFullFilePath}"></span>"，请知悉。
        </div>
        <br>
        <div>
            <div class="h5" style="text-align: right;"><span th:text="${datetime}"></span>&nbsp;&nbsp;ImEthan</div>
        </div>
    </div>
</div>
</body>
</html>