<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8"/>
    <title>ImEthan独立博客:一个野生程序猿的自留地</title>
    <link rel="stylesheet" href="/static/editor/css/editormd.preview.css"/>
    <style>
        #content-tag i {
            padding-right: 10px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<div class="main-box">
    <span class="h1" id="content-title" style="font-weight: 200!important;"></span>

    <span sec:authorize="isAuthenticated()" style="padding-left: 20px;">
        <a th:href="@{'/console/article/modify/'+${id}}" class="color-primary">编辑</a>
        &nbsp;
        <a href="#" id="content-delete" class="color-danger">删除</a>
</span>
    <br>
    <small id="content-tag" style="color: #a8afb7;"></small>
    <input type="hidden" name="" th:value="${id}" id="content-id">
    <input type="hidden" name="" value="" id="content-status">


    <div class="row">
        <div class="col-9">
            <div id="article-editormd-view" style="padding: 0px!important;">
                <textarea style="display:none;" name="article-editormd-markdown-doc">###Hello world!</textarea>
            </div>
            <div class="shadow-sm p-3 mb-5 bg-white rounded" style="margin-top: 20px!important;">
                <div id="gitalk-box"></div>
            </div>
        </div>
        <div class="col-3">
            <div id="custom-toc-container" style="padding: 16px 0px 0px 0px!important;"></div>
        </div>
    </div>
</div>


<script src="/static/editor/lib/marked.min.js"></script>
<script src="/static/editor/lib/prettify.min.js"></script>
<script src="/static/editor/lib/raphael.min.js"></script>
<script src="/static/editor/lib/underscore.min.js"></script>
<script src="/static/editor/lib/sequence-diagram.min.js"></script>
<script src="/static/editor/lib/flowchart.min.js"></script>
<script src="/static/editor/lib/jquery.flowchart.min.js"></script>

<script src="/static/editor/editormd.js"></script>
<script type="text/javascript">

    $(function () {
        NProgress.start();

        var articleEditormdView;
        var contentId = $("#content-id").val();
        $.get("/api/article/" + contentId, function (result) {

            let data = result.data;

            if (data == null) {
                $("#article-editormd-view").html("<h1>内容不存在!</h1>");
            }

            $("title").html(data.title);
            $("#content-status").val(data.status);
            $("#content-title").html(data.title);
            $("#content-time").html(data.createAt);
            $("#content-tag").append("<i class=\"fa fa-calendar-o\" aria-hidden=\"true\"> " + data.createAt + "</i> ");
            $("#content-tag").append("<i class=\"fa fa-bookmark-o\" aria-hidden=\"true\"> " + data.tag + "</i> ");
            $("#content-tag").append("<i class=\"fa fa-link\" aria-hidden=\"true\"> " + data.channelName + "</i> ");

            var content = data.content;

            articleEditormdView = editormd.markdownToHTML("article-editormd-view", {
                markdown: content,//+ "\r\n" + $("#append-test").text(),
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                // toc: true,
                tocm: true,    // Using [TOCM]
                tocContainer: "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                tocDropdown: true,
                markdownSourceCode: true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });

            loadGitalk("gitalk-box", data.title);
        });

        $("#content-delete").click(function () {
            layer.confirm('你确定要删除？', {
                btn: ['确定', '取消'], title: '', offset: '200px', yes: function () {

                    ajaxDelete("/api/article/" + contentId, function (result) {
                        if (result.isSuccess) {
                            layer.msg(result.message, {offset: '200px', icon: 1});
                        } else {
                            layer.msg(result.message, {offset: '200px', icon: 2});
                        }

                        let status = $("#content-status").val();
                        setTimeout(function () {

                            window.location.href = '/blog?status=' + status;
                        }, 1000);
                    })
                }
            });
        });

        NProgress.done();
    });
</script>
</body>
</html>