<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gitalk - ImEthan - 一个野生程序猿的自留地</title>
    <meta name="description" content="Gitalk - ImEthan - 一个野生程序猿的自留地">
    <meta name="keywords" content="Gitalk,ImEthan,一个野生程序猿的自留地">
</head>
<body>
<div class="container main-box">
    <div class="shadow-sm p-3 mb-5 bg-white rounded">
        <div class="h2">Hey ! How about ImEthan ?</div>
        <div id="gitalk-box"></div>
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    $(function () {
        NProgress.start();

        loadGitalk("gitalk-box", "How about imethan blog")

        NProgress.done();

    });
</script>