<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>Home</title>
</head>
<body>

        <h2>Welcome</h2>
        <p>Hi,your ip is <span th:text="${#httpServletRequest.getLocalAddr()}"/>.</p>
        <hr>
        <p class="first-level-title">Content Tag</p>
        <div class="tag-box">
            <a class="badge bg-primary" href="" role="button">项目管理</a>
            <a class="badge bg-secondary" href="" role="button">研发架构</a>
            <a class="badge bg-success" href="" role="button">从零开始</a>
            <a class="badge bg-danger" href="" role="button">SpringBoot</a>
            <a class="badge bg-warning" href="" role="button">ActiveMQ</a>
            <a class="badge bg-info" href="" role="button">EMQX</a>
            <a class="badge bg-dark" href="" role="button">VUE运用</a>
        </div>

        <hr>
        <p class="first-level-title">URL INDEX</p>
        <p>fontawesome：<a href="http://www.fontawesome.com.cn/" target="_blank">http://www.fontawesome.com.cn/</a></p>
        <p>getbootstrap：<a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a></p>
        <p>jqueryvalidation：<a href="https://jqueryvalidation.org/" target="_blank">https://jqueryvalidation.org/</a></p>
        <p>editor.md：<a href="https://pandao.github.io/editor.md/index.html" target="_blank">https://pandao.github.io/editor.md/index.html</a></p>

</body>
</html>