<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign in</title>
    <link rel="stylesheet" href="static/css/login.css"/>
    <style>
        #password{
            margin-bottom: 0px;
            border-radius: 0;
        }
        #code{
            margin-bottom: 10px;
            border-radius: 0;
        }

    </style>
</head>
<body>
<div class="container">
    <form name='f' action='/signin' method='POST' class="form-signin">
        <div class="form-signin-heading">SIGN IN</div>
        <!--<label for="username" class="sr-only">username</label>-->
        <input type="text" name="username" id="username" class="form-control" value="root" placeholder="username" required autofocus/>
        <!--<label for="password" class="sr-only">password</label>-->
        <input type="password" name="password" id="password" class="form-control" value="1" placeholder="password" required/>

        <input type="text"  id="code" class="form-control" name="code" style="width: 210px;display: inline;vertical-align: top;" value="" placeholder="code" required/>
        <img id="codeImg" alt="点击更换" title="点击更换" src="/validCode" />
        <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}" />
        <button class="btn btn-primary btn-block" type="submit">SIGN IN</button>
    </form>
</div>
</body>
</html>
<script type="text/javascript">
    $(function () {
        NProgress.start();

        NProgress.done();

        $("#codeImg").click(function (){
            var time = new Date();
            $(this).attr("src", "/validCode?t=" + time.getTime());
        })
    });



</script>
